/* pt-sans-regular - latin */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/pt-sans-v16-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./assets/fonts/pt-sans-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./assets/fonts/pt-sans-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./assets/fonts/pt-sans-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./assets/fonts/pt-sans-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./assets/fonts/pt-sans-v16-latin-regular.svg#PTSans') format('svg'); /* Legacy iOS */
}

body {
    margin: 0px;
    width: 100vw;
    min-height: 100vh;
}