<template>
    <div id="page">
        <div>
            <h1>{{ start_page_data.title }}</h1>
            <p v-html="start_page_data.body" />
        </div>
        
        <div class="flex-block">
            <div v-for="tile in start_page_data.related_tiles" :key="tile.id" class="tile">
                <div class="content-block" v-bind:style="'background-image: url(\'https://spmcom-test.sportplatz-media.com/'+ tile.image_tile.meta.download_url +'\');'">
                    <div class="color-con">
                        <p v-html="tile.body_tile" />
                        <a v-bind:href="tile.url_tile">{{ tile.url_tile }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
export default {
    name: "HomeView",
    components: {},
    data() {
        return {
            start_page_data: Object,
        }
    },
    mounted() {
        this.init();
    },
    methods: {
        init() {
            // Start page data
            axios.get('https://spmcom-test.sportplatz-media.com/api/v2/pages/5/?format=json')
            .then(response => (this.start_page_data = response.data))
        },
    }
}
</script>

<style scoped>
    #page {
        width: 100%;
    }

    .tile {
        width: 50%;
        padding: 10px;
    }

    .flex-block {
        display: flex;
    }
    .content-block p {
        color: white;
        font-size: 22px;
        font-weight: 800;
    }
    .content-block {
        background-size: cover;
        height: 250px;
    }
    .color-con {
        background-color: #001bba;
        opacity: 0.75;
        height: 250px;
    }
    .color-con p {
        opacity: 1;
        padding: 25px;
    }
</style>