<template>
    <div class="marketing-header">
        <ul class="marketing-menu-items">
            <li><router-link to="/marketing/for-advertiser" @click="getAdvertiserItems();">Für Advertiser</router-link></li>
            <li><router-link to="/marketing/digital">Digital</router-link></li>
            <li><router-link to="/marketing/native-integration">Native Integration</router-link></li>
            <li><router-link to="/marketing/print">Print</router-link></li>
            <li><router-link to="/marketing/social-media">Social Media</router-link></li>
            <li><router-link to="/marketing/portfolio">Portfolio</router-link></li>
            <li id="for-publisher"><router-link to="/marketing/for-publisher">Für Publisher</router-link></li>
        </ul>
    </div>

    <div v-if="$route.params.sitename">{{ $route.params.sitename  }}</div>
    <!-- HERE NEED TO DIFFERENRIATE -->
    <div>
        <blog-page-tile-block v-bind:tiles="publisher_infos"></blog-page-tile-block>
    </div>

    <div v-if="$route.fullPath === '/marketing/for-advertiser'">
        <h2>DAS SAGEN UNSERE KUNDEN</h2>
        <CustomerVoiceBlock v-bind:customers="customer_voices"></CustomerVoiceBlock>
    </div>
</template>

<script>
import axios from 'axios'
import BlogPageTileBlock from '@/components/BlogPageTileBlock.vue'
import CustomerVoiceBlock from '@/components/CustomerVoiceBlock.vue'
export default {
    name: 'MarketingView',
    components: {
        BlogPageTileBlock, CustomerVoiceBlock
    },
    data () {
        return {
            publisher_infos: Object,
            customer_voices: Object,
        }
    },
    mounted() {
        this.init();
    },
    methods: {
        init() {
            axios.get('https://spmcom-test.sportplatz-media.com/api/v2/pages/7/?format=json')
                .then(response => (this.publisher_infos = response.data))
        },
        // only call items when @click on router-link
        getAdvertiserItems() {
            axios.get('https://spmcom-test.sportplatz-media.com/api/v2/customers/?format=json')
                .then(response => (this.customer_voices = response.data.items))
        }   
    }
}
</script>

<style scoped>
#for-publisher {
    float: right;
}
.marketing-menu-items {
  list-style-type: none;
  margin: 0;
  padding: 0px 25px;
  overflow: hidden;
}
.marketing-menu-items li {
    float: left;
    padding: 0px 25px;
}
</style>