<template>
    <div>Media</div>
    <div>
        <blog-page-tile-block v-bind:tiles="media_page_data"></blog-page-tile-block>
    </div>

</template>

<script>
import axios from 'axios'
import BlogPageTileBlock from '@/components/BlogPageTileBlock.vue';
export default {
  components: { BlogPageTileBlock },
    name: 'MediaView',
    data() {
        return {
            media_page_data: Object,
        }
    },
    mounted() {
        this.init();
    },
    methods: {
        init() {
            // Media page data
            axios.get('https://spmcom-test.sportplatz-media.com/api/v2/pages/6/?format=json')
            .then(response => (this.media_page_data = response.data))
        },
    }
}
</script>

<style scoped>

</style>