<template>
    <div>Software</div>
    <div>
        <blog-page-tile-block v-bind:tiles="software_infos"></blog-page-tile-block>
    </div>
    <div>
        <customer-voice-block v-bind:customers="customer_voices"></customer-voice-block>
    </div>
</template>

<script>
import axios from 'axios'
import BlogPageTileBlock from '@/components/BlogPageTileBlock.vue'
import CustomerVoiceBlock from '@/components/CustomerVoiceBlock.vue'
export default {
    name: 'SoftwareView',
    components: {
        BlogPageTileBlock, CustomerVoiceBlock
    },
    data () {
        return {
            software_infos: Object,
            customer_voices: Object,
        }
    },
    mounted () {
        this.init();
    },
    methods: {
        init() {
            axios.get('https://spmcom-test.sportplatz-media.com/api/v2/pages/8/?format=json')
            .then(response => (this.software_infos = response.data))

            axios.get('https://spmcom-test.sportplatz-media.com/api/v2/customers/')
            .then(response => (this.customer_voices = response.data.items))
        }
    }
}
</script>

<style scoped>

</style>