<template>
    <div v-for="tile in tiles.related_tiles" :key="tile.id" class="tile">
        <div v-if="tile.position_left" class="image_container">
            <img v-bind:src="'https://spmcom-test.sportplatz-media.com/' + tile.image_tile.meta.download_url" />
        </div>

        <div class="text-block">
            <div class="title-block">
                <strong v-html="tile.title_tile"></strong>
            </div>
            <div class="content-tile-block">
                <p v-html="tile.body_tile" />
            </div>
            
            <a v-bind:href="tile.url_tile">{{ tile.url_tile }}</a>
        </div>

        <div v-if="!tile.position_left" class="image_container">
            <img v-bind:src="'https://spmcom-test.sportplatz-media.com/' + tile.image_tile.meta.download_url" />
        </div>
    </div>
</template>

<script>
export default {
    name: 'BlogPageTileBlock', 
    props: {
        tiles: Object
    },
}
</script>

<style scoped>
    .image_container {
        width: 50%;
        max-width: 100%;
    }
    .image_container img {
        object-fit: contain;
        max-width: 100%;
        padding: 30px 0px;
        width: 100%;
        background-color: #001bba;
        height: 350px;
    }
    .tile {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 20px;
    }
    
    .text-block {
        width: 50%;
        max-width: 100%;
        padding: 30px;
    }

    .title-block {
        text-align: right;
    }
    .content-tile-block {
        text-align: left;
        padding: 10px 30px;
    }
</style>