<template>
  <div class="hello">
    <img alt="Vue logo" src="../assets/logo.png">
    <div v-for="item in infos" :key="item.title">
      <h1>{{ item.id }} {{ item.title }}</h1> <br/>
      <p v-html="item.body" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'ContentBlock',
  props: {
    infos: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
