<template>
    <splide :options="options" :slides="customers.items">
        <SplideSlide v-for="customer in customers" :key="customer.id">
            <img v-bind:src="'https://spmcom-test.sportplatz-media.com/media/original_images/' + customer.image_url" />
            <div class="citation-text">
                <p>{{ customer.citation }}</p>
            </div>
        </SplideSlide>
    </splide>
</template>

<script>
import { Splide, SplideSlide} from '@splidejs/vue-splide'
import '@splidejs/splide/dist/css/themes/splide-default.min.css';

export default {
    name: 'CustomerVoiceBlock',
    components: { Splide, SplideSlide },
    props: {
        customers: Object,
    },
    data () {
        return {
            options: {
                rewind: true,
                arrows: true,
                pagination: true,
                perPage: 1,
                gap: '16px',
                padding: '25px',
            }
        }
    }
}
</script>

<style scoped>
img {
    width: 300px;
}
.citation-text {
    text-align: center;
    width: 450px;
    margin: auto;
    padding-bottom: 30px;
}
</style>