<template>
    <footer>
        <div class="main-footer">
            <div class="logo-box">
                <img src="../assets/footer-logo.png" />
                
                <p>
                    Als Vermarkter & Softwareentwickler bieten wir unseren
                    Kunden den direkten Zugang zum attraktiven Sportumfeld.
                    Mit Deutschlands größtem Sports Media Network und zahlreichen
                    digitalen Lösungen sind wir NÄHER - DRAN am Sport & am Kunden.
                </p>
            </div>

            <div class="address-box">
                <p>Schleidenstraße 3</p>
                <p>22083 Hamburg</p>

                <p>Email: <a href="mailto:info@sportplatz-media.com">info@sportplatz-media.com</a></p>
                <p>Tel.: <a href="tel:+4940537986320"> +49 40 / 537 98 63 20</a></p>

                <p>© 2021 SPM SPORTPLATZ MEDIA GMBH <br/> – All Rights Reserved</p>
            </div>
        </div>

        <div class="main-footer">
            <div class="link-block">
                <strong>Mehr zu SPM</strong><br/><br/>
                <router-link to="/">Über uns</router-link><br/><br/>
                <router-link to="/">Ansprechpartner</router-link><br/><br/>
                <router-link to="/">Jobs</router-link>
            </div>
        </div>

        <div class="main-footer">
            <div class="link-block">
                <strong>Unsere B2C Brands</strong><br/><br/>
                <router-link to="/">SpielerPlus</router-link><br/><br/>
                <router-link to="/">SportlerPlus</router-link><br/><br/>
                <router-link to="/">TEAMTIP</router-link><br/><br/>
                <router-link to="/">MeinSponsor</router-link><br/><br/>
                <router-link to="/">FUSSBALL CROWD</router-link>
            </div>
        </div>

        <div class="main-footer">
            <div class="link-block">
                <strong>Info</strong> <br/><br/>
                <router-link to="/">Impressum</router-link> <br/><br/>
                <router-link to="/">Datenschutz</router-link> <br/><br/>
                <router-link to="/">AGB Media</router-link> <br/><br/>
                <router-link to="/">AGB Software </router-link> <br/><br/>
                <router-link to="/">Cookie Einstellugen</router-link>
            </div>
        </div>
    </footer>
</template>

<script>
export default {
    name: 'FooterNavigation'
}
</script>

<style lang="scss" scoped>
@import "@/assets/scss/variables.scss";
    footer {
        width: 100%;
        background-color: $footerColor;
        color: $footerFontColor;
        bottom: 0;
        display: flex;
    }

    .main-footer {
        width: 25%;
    }
    
    .logo-box p {
        text-align: justify;
        padding: 20px;
    }

    .logo-box img {
        padding-top: 20px;
    }

    .address-box p {
        text-align: left;
        padding: 0px 20px;
    }

    .link-block {
        height: 100%;
        width: 100%;
        text-align: left;
        padding-top: 20px;
    }

    .link-block strong {
        font-size: 24px;
        padding: 20px;
    }

    .link-block a {
        padding: 20px;
    }
</style>