<template>
    <header id="header">
        <div class="logo">
            <router-link to="/">
                <img src="../assets/logo.png" />
            </router-link>
        </div>
        <navigation class="navigation">
            <div>
                <router-link class="menu-link" to="/marketing" >Vermarktung</router-link>
                <router-link class="menu-link" to="/software" >Software</router-link>
                <router-link class="menu-link" to="/contact" >Kontakt</router-link>
                <router-link class="menu-link" to="/news" >News</router-link>
            </div>
        </navigation>
    </header>
</template>

<script>
export default {
    name: 'HeaderNavigation'
}
</script>

<style lang="scss" scoped>
    @import "@/assets/scss/variables.scss";
    header {
        top: 0;
        width: 100%;
        background-color: white;
        color: black;
    }

    #header {
        height: 100px;
        position: relative;
    }

    .logo  img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .logo {
        position: absolute;
        left: 0;
        display: inline-block;
        width: 250px;
        height: 100px;
    }

    .navigation {
        padding-top: 20px;
        position: absolute;
        right: 0;
    }

    .menu-link {
        padding: 10px;
        font-size: 20px;
        font-family: 'PT Sans', Helvetica, Arial, sans-serif;
        text-decoration: none;
        color: black;
    }

    .menu-link:hover {
        text-decoration: underline;
    }
</style>