<template>
  <v-app>
    <HeaderNavigation></HeaderNavigation>
    <v-main>
      <router-view></router-view>
    </v-main>
    <FooterNavigation></FooterNavigation>
  </v-app>
</template>

<script>
import HeaderNavigation from './components/HeaderNavigation.vue'
import FooterNavigation from './components/FooterNavigation.vue'

export default {
  name: 'App',
  components: {
   HeaderNavigation, FooterNavigation
  }
}
</script>
<style lang="scss">
@import "@/assets/scss/global.scss";
</style>
<style>
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
#app {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
